.box{
    background-color: rgb(101, 0, 160);
    width: 150px;
    height: 150px;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 15px;

}

.second{
    justify-content: center;
}